Archive/iCAD/xsd/niem/niem-core/2.0/niem-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by JAMES WILSON (OFFICE OF THE CHIEF TECH OFFICER) -->
<xsd:schema xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:usps="http://niem.gov/niem/usps_states/2.0" targetNamespace="http://niem.gov/niem/niem-core/2.0" version="1">
	<xsd:annotation>
		<xsd:appinfo>
			<i:ConformantIndicator>true</i:ConformantIndicator>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="../../structures/2.0/structures.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="../../appinfo/2.0/appinfo.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="../../proxy/xsd/2.0/xsd.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/usps_states/2.0" schemaLocation="../../usps_states/2.0/usps_states.xsd"/>
	<xsd:complexType name="ActivityItemAssociationType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="AssociationType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:AssociationType">
				<xsd:sequence>
					<xsd:element ref="nc:ActivityReference" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:ItemReference" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ActivityOrganizationAssociationType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="AssociationType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:AssociationType">
				<xsd:sequence>
					<xsd:element ref="nc:ActivityReference" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:OrganizationReference" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ActivityType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:ActivityIdentification" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:ActivityDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:ActivityStatus" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:ActivityReasonText" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AddressType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:AddressRepresentation" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="AngularMinuteSimpleType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:maxExclusive value="60"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="AngularMinuteType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="nc:AngularMinuteSimpleType">
				<xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="AngularSecondSimpleType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:maxExclusive value="60"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="AngularSecondType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="nc:AngularSecondSimpleType">
				<xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="AssociationType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Association"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ContactInformationType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:ContactMeans" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:ContactEntity" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DateType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:DateRepresentation" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DocumentType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="EntityType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:EntityRepresentation" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IdentificationType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:IdentificationID" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="InternationalTelephoneNumberType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:TelephoneCountryCodeID" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ItemType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="LatitudeCoordinateType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:LatitudeDegreeValue" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:LatitudeMinuteValue" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:LatitudeSecondValue" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="LatitudeDegreeSimpleType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:maxInclusive value="90"/>
			<xsd:minInclusive value="-90"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="LatitudeDegreeType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="nc:LatitudeDegreeSimpleType">
				<xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="LengthMeasureType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="MeasureType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:MeasureType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="LocaleType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:LocaleNeighborhoodName" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="LocationType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:LocationAddress" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:LocationAltitudeMeasure" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:LocationCategory" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:LocationDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:LocationLocale" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:LocationName" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:LocationSurroundingAreaDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:LocationTwoDimensionalGeographicCoordinate" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:LocationUTMCoordinate" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="LongitudeCoordinateType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:LongitudeDegreeValue" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:LongitudeMinuteValue" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:LongitudeSecondValue" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="LongitudeDegreeSimpleType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="-180"/>
			<xsd:maxExclusive value="180"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="LongitudeDegreeType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="nc:LongitudeDegreeSimpleType">
				<xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MeasurePointValueType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attributeGroup ref="s:SimpleObjectAttributeGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MeasureType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:MeasureValue" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:MeasureUnitText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:MeasureCategoryText" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MetadataType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="MetadataType"/>
				<i:AppliesTo i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
				<i:AppliesTo i:namespace="http://niem.gov/niem/structures/2.0" i:name="Association"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:MetadataType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NANPTelephoneNumberType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:TelephoneAreaCodeID" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:TelephoneExchangeID" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:TelephoneLineID" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:TelephoneSuffixID" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="OrganizationContactInformationAssociationType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="AssociationType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:AssociationType">
				<xsd:sequence>
					<xsd:element ref="nc:OrganizationReference" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:ContactInformationReference" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="OrganizationItemAssociationType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="AssociationType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:AssociationType">
				<xsd:sequence>
					<xsd:element ref="nc:OrganizationReference" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:ItemReference" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="OrganizationType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:OrganizationDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:OrganizationIdentification" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:OrganizationLocalIdentification" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:OrganizationName" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:OrganizationStatus" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="OrganizationUnitAssociationType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="AssociationType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:AssociationType">
				<xsd:sequence>
					<xsd:element ref="nc:OrganizationReference" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:OrganizationUnitReference" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PersonNameTextType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="ProperNameTextType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="nc:ProperNameTextType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PersonNameType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:PersonNamePrefixText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PersonGivenName" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PersonMiddleName" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PersonSurName" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PersonNameSuffixText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PersonFullName" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PersonType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:PersonName" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PersonOtherIdentification" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProperNameTextType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="TextType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="nc:TextType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SpeedMeasureType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="MeasureType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:MeasureType">
				<xsd:sequence>
					<xsd:element ref="nc:SpeedUnitCode" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="StatusType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:StatusText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:StatusDate" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:StatusDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="StreetType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:StreetNumberText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:StreetPredirectionalText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:StreetName" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:StreetCategoryText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:StreetPostdirectionalText" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="StructuredAddressType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:AddressDeliveryPoint" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:LocationCityName" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:LocationCounty" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:LocationState" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:LocationCountry" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:LocationPostalCode" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TelephoneNumberType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:TelephoneNumberRepresentation" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TextType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/proxy/xsd/2.0" i:name="string"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="niem-xsd:string"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="TwoDimensionalGeographicCoordinateType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:GeographicCoordinateLatitude"/>
					<xsd:element ref="nc:GeographicCoordinateLongitude"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="UTMCoordinateType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:UTMDatumID"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="ActivityReference" type="s:ReferenceType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:ReferenceTarget i:name="ActivityType"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ActivityDescriptionText" type="nc:TextType" nillable="true"/>
	<xsd:element name="ActivityIdentification" type="nc:IdentificationType" nillable="true"/>
	<xsd:element name="ActivityItemAssociation" type="nc:ActivityItemAssociationType" nillable="true"/>
	<xsd:element name="ActivityReasonText" type="nc:TextType" nillable="true"/>
	<xsd:element name="ActivityReportingOrganizationAssociation" type="nc:ActivityOrganizationAssociationType" nillable="true"/>
	<xsd:element name="ActivityStatus" type="nc:StatusType" nillable="true"/>
	<xsd:element name="AddressBuildingText" type="nc:TextType" substitutionGroup="nc:AddressDeliveryPoint" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="AddressDeliveryPoint"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AddressDeliveryPoint" abstract="true"/>
	<xsd:element name="AddressDeliveryPointID" type="niem-xsd:string" substitutionGroup="nc:AddressDeliveryPoint" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="AddressDeliveryPoint"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AddressDeliveryPointText" type="nc:TextType" substitutionGroup="nc:AddressDeliveryPoint" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="AddressDeliveryPoint"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AddressFullText" type="nc:TextType" substitutionGroup="nc:AddressRepresentation" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="AddressRepresentation"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AddressPrivateMailboxText" type="nc:TextType" substitutionGroup="nc:AddressDeliveryPoint" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="AddressDeliveryPoint"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AddressRepresentation" abstract="true"/>
	<xsd:element name="AddressSecondaryUnitText" type="nc:TextType" substitutionGroup="nc:AddressDeliveryPoint" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="AddressDeliveryPoint"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CommentText" type="nc:TextType" nillable="true"/>
	<xsd:element name="ContactEmailID" type="niem-xsd:string" substitutionGroup="nc:ContactMeans" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="ContactMeans"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ContactEntity" type="nc:EntityType" nillable="true"/>
	<xsd:element name="ContactInformationReference" type="s:ReferenceType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:ReferenceTarget i:name="ContactInformationType"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ContactInformationDescriptionText" type="nc:TextType" nillable="true"/>
	<xsd:element name="ContactMeans" abstract="true"/>
	<xsd:element name="ContactRadioChannelText" type="nc:TextType" nillable="true"/>
	<xsd:element name="ContactTelephoneNumber" type="nc:TelephoneNumberType" substitutionGroup="nc:ContactMeans" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="ContactMeans"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DateRepresentation" abstract="true"/>
	<xsd:element name="DateTime" type="niem-xsd:dateTime" substitutionGroup="nc:DateRepresentation" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="DateRepresentation"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DistributionText" type="nc:TextType" nillable="true"/>
	<xsd:element name="EntityPerson" type="nc:PersonType" substitutionGroup="nc:EntityRepresentation" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="EntityRepresentation"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EntityRepresentation" abstract="true"/>
	<xsd:element name="GeographicCoordinateLatitude" type="nc:LatitudeCoordinateType" nillable="true"/>
	<xsd:element name="GeographicCoordinateLongitude" type="nc:LongitudeCoordinateType" nillable="true"/>
	<xsd:element name="InternationalTelephoneNumber" type="nc:InternationalTelephoneNumberType" substitutionGroup="nc:TelephoneNumberRepresentation" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="TelephoneNumberRepresentation"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IdentificationID" type="niem-xsd:string" nillable="true"/>
	<xsd:element name="ItemReference" type="s:ReferenceType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:ReferenceTarget i:name="ItemType"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LatitudeDegreeValue" type="nc:LatitudeDegreeType" nillable="true"/>
	<xsd:element name="LatitudeMinuteValue" type="nc:AngularMinuteType" nillable="true"/>
	<xsd:element name="LatitudeSecondValue" type="nc:AngularSecondType" nillable="true"/>
	<xsd:element name="LocaleNeighborhoodName" type="nc:TextType" nillable="true"/>
	<xsd:element name="LocationAltitudeMeasure" type="nc:LengthMeasureType" nillable="true"/>
	<xsd:element name="LocationTwoDimensionalGeographicCoordinate" type="nc:TwoDimensionalGeographicCoordinateType" nillable="true"/>
	<xsd:element name="LocationUTMCoordinate" type="nc:UTMCoordinateType" nillable="true"/>
	<xsd:element name="LocationAddress" type="nc:AddressType" nillable="true"/>
	<xsd:element name="LocationCategory" abstract="true"/>
	<xsd:element name="LocationCategoryText" type="nc:TextType" substitutionGroup="nc:LocationCategory" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="LocationCategory"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationCityName" type="nc:ProperNameTextType" nillable="true"/>
	<xsd:element name="LocationCountry" abstract="true"/>
	<xsd:element name="LocationCountryName" type="nc:ProperNameTextType" substitutionGroup="nc:LocationCountry" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="LocationCountry"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationCounty" abstract="true"/>
	<xsd:element name="LocationCountyName" type="nc:ProperNameTextType" substitutionGroup="nc:LocationCounty" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="LocationCounty"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationDescriptionText" type="nc:TextType" nillable="true"/>
	<xsd:element name="LocationLocale" type="nc:LocaleType" nillable="true"/>
	<xsd:element name="LocationName" type="nc:ProperNameTextType" nillable="true"/>
	<xsd:element name="LocationPostalCode" type="niem-xsd:string" nillable="true"/>
	<xsd:element name="LocationState" abstract="true"/>
	<xsd:element name="LocationStateUSPostalServiceCode" type="usps:USStateCodeType" substitutionGroup="nc:LocationState" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="LocationState"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationStreet" type="nc:StreetType" substitutionGroup="nc:AddressDeliveryPoint" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="AddressDeliveryPoint"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationSurroundingAreaDescriptionText" type="nc:TextType" nillable="true"/>
	<xsd:element name="LongitudeDegreeValue" type="nc:LongitudeDegreeType" nillable="true"/>
	<xsd:element name="LongitudeMinuteValue" type="nc:AngularMinuteType" nillable="true"/>
	<xsd:element name="LongitudeSecondValue" type="nc:AngularSecondType" nillable="true"/>
	<xsd:element name="MeasureCategoryText" type="nc:TextType" nillable="true"/>
	<xsd:element name="MeasurePointValue" type="nc:MeasurePointValueType" substitutionGroup="nc:MeasureValue" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="MeasureValue"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MeasureUnitText" type="nc:TextType" nillable="true"/>
	<xsd:element name="MeasureValue" abstract="true"/>
	<xsd:element name="NANPTelephoneNumber" type="nc:NANPTelephoneNumberType" substitutionGroup="nc:TelephoneNumberRepresentation" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="TelephoneNumberRepresentation"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrganizationReference" type="s:ReferenceType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:ReferenceTarget i:name="OrganizationType"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrganizationContactInformationAssociation" type="nc:OrganizationContactInformationAssociationType" nillable="true"/>
	<xsd:element name="OrganizationDescriptionText" type="nc:TextType" nillable="true"/>
	<xsd:element name="OrganizationIdentification" type="nc:IdentificationType" nillable="true"/>
	<xsd:element name="OrganizationLocalIdentification" type="nc:IdentificationType" nillable="true"/>
	<xsd:element name="OrganizationName" type="nc:TextType" nillable="true"/>
    <xsd:element name="OrganizationOwnsItemAssociation" type="nc:OrganizationItemAssociationType" nillable="true"/>
	<xsd:element name="OrganizationParentAssociation" type="nc:OrganizationUnitAssociationType" nillable="true"/>
	<xsd:element name="OrganizationPossessesItemAssociation" type="nc:OrganizationItemAssociationType" nillable="true"/>
	<xsd:element name="OrganizationStatus" type="nc:StatusType" nillable="true"/>
	<xsd:element name="OrganizationUnitReference" type="s:ReferenceType">
		<xsd:annotation>
			<xsd:appinfo>
				<i:ReferenceTarget i:name="OrganizationType"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonFullName" type="nc:PersonNameTextType" nillable="true"/>
	<xsd:element name="PersonGivenName" type="nc:PersonNameTextType" nillable="true"/>
	<xsd:element name="PersonMiddleName" type="nc:PersonNameTextType" nillable="true"/>
	<xsd:element name="PersonName" type="nc:PersonNameType" nillable="true"/>
	<xsd:element name="PersonNamePrefixText" type="nc:TextType" nillable="true"/>
	<xsd:element name="PersonNameSuffixText" type="nc:TextType" nillable="true"/>
	<xsd:element name="PersonOtherIdentification" type="nc:IdentificationType" nillable="true"/>
	<xsd:element name="PersonSurName" type="nc:PersonNameTextType" nillable="true"/>
	<xsd:element name="SourceIDText" type="nc:TextType" nillable="true"/>
	<xsd:element name="SpeedMeasure" type="nc:SpeedMeasureType" nillable="true"/>
	<xsd:element name="SpeedUnitCode" type="niem-xsd:string" nillable="true"/>
	<xsd:element name="StatusDate" type="nc:DateType" nillable="true"/>
	<xsd:element name="StatusDescriptionText" type="nc:TextType" nillable="true"/>
	<xsd:element name="StatusText" type="nc:TextType" nillable="true"/>
	<xsd:element name="StreetCategoryText" type="nc:TextType" nillable="true"/>
	<xsd:element name="StreetName" type="nc:ProperNameTextType" nillable="true"/>
	<xsd:element name="StreetNumberText" type="nc:TextType" nillable="true"/>
	<xsd:element name="StreetPostdirectionalText" type="nc:TextType" nillable="true"/>
	<xsd:element name="StreetPredirectionalText" type="nc:TextType" nillable="true"/>
	<xsd:element name="StructuredAddress" type="nc:StructuredAddressType" substitutionGroup="nc:AddressRepresentation" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="AddressRepresentation"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SubstanceCategory" abstract="true"/>
	<xsd:element name="SubstanceCategoryText" type="nc:TextType" substitutionGroup="nc:SubstanceCategory" nillable="true">
		<xsd:annotation>
			<xsd:appinfo>
				<i:Base i:name="SubstanceCategory"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TelephoneAreaCodeID" type="niem-xsd:string" nillable="true"/>
	<xsd:element name="TelephoneCountryCodeID" type="niem-xsd:string" nillable="true"/>
	<xsd:element name="TelephoneExchangeID" type="niem-xsd:string" nillable="true"/>
	<xsd:element name="TelephoneLineID" type="niem-xsd:string" nillable="true"/>
	<xsd:element name="TelephoneNumberRepresentation" abstract="true"/>
	<xsd:element name="TelephoneSuffixID" type="niem-xsd:string" nillable="true"/>
	<xsd:element name="UTMDatumID" type="niem-xsd:string" nillable="true"/>
</xsd:schema>
